@import "../shared.scss";

.issue-item {
  display: grid;
  grid-column-gap: $spacer-1;
  grid-template-columns: $spacer-3 auto;

  &__title {
    font-size: $h4-size;
    font-weight: $font-weight-bold;
  }

  &__created {
    grid-column: 2 / 2;
  }

  &__labels {
    grid-column: 2 / 2;
    margin-top: $spacer-2;
    ul {
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }
}
